/* GENERAL */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro';
    color: white;
    font-weight: 400;
}

h1 {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

/* Content */

.container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 770px) {
    .container {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .container {
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }
}

/* Header */

.header {
    width: 100%;
    height: 800px;
    background-image: url("./images/headphones_hero_1.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (max-width: 480px) {
    .header {
        width: 100%;
        height: 869px;
    }
}

/* Navigation */

.desktop-nav,
.nav-links {
    display: flex;
}

.desktop-nav {
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

@media screen and (max-width: 770px) {
    .desktop-nav {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.nav-links {
    gap: 2rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 700;
}

.nav-links a:hover {
    color: #FF6565;
}

.nav-logo img {
    width: 161px;
}

/* Burger Navigation */

.hamburger-nav {
    display: none; /* Hidden burger section */
}

@media screen and (max-width: 520px) { /* mediaquery at 520px for better user experience  */
    .desktop-nav,
    #menu-toggle {
        display: none;
    }

    .hamburger-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

    .nav-logo {
        flex-grow: 1;
        text-align: center;
        padding-right: 50px;
    }

    .hamburger-menu span {
        display: block;
        width: 20px;
        height: 2.5px;
        background-color: white;
        margin: 5px;
        transition: transform 0.4s ease-in-out;
    }

    .hamburger-menu span:nth-child(2) {
        width: 12px;
        transition: opacity 0.4s ease-in-out, width 0.4s ease-in-out;
    }

    #menu-toggle:checked + .hamburger-menu span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
    }

    #menu-toggle:checked + .hamburger-menu span:nth-child(2) {
        opacity: 0;
        width: 0;
    }

    #menu-toggle:checked + .hamburger-menu span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -6px);
    }

    .hamburger-nav .nav-hamburger-menu {
        position: absolute;
        top: 7%;
        left: 0;
        background-color: transparent;
        width: 88%;
        text-align: center;
        display: none;
    }

    #menu-toggle:checked + .hamburger-menu ~ .nav-hamburger-menu {
        display: block; /* Display burger menu */
    }

    .nav-hamburger-menu .nav-links {
        display: flex;
        flex-direction: column;
    }  
}

/* Hero Section */

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16rem;
}

.hero-section h1 {
    margin-bottom: 0.3rem;
}

.hero-section h3 {
    margin: 0 50px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.hero-section .header-btn {
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: #FF6565;
    height: 44px;
    width: 162px;
    border-radius: 2rem;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.hero-section .header-btn:hover {
    opacity: 0.9
}

.hero-section p {
    max-width: 637px;
    text-align: center;
}


